.contact_section {
    align-items: center;
    color: #fff;
    background-color: #0B0C10;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 70px;
    width: 100%;
}