.game-section {
    color: #66FCF1;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color: #0B0C10;
    padding: 20px;
}

.game_board {
    background-color: #262626;
    box-shadow: 0px 0px 5px #66FCF1;
    border-radius: 15px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cards {
    justify-items: center;
    border: solid 4px #66FCF1;
    border-radius: 15px;
    margin: 20px;
    width: 200px;
    height: 200px;
}

/* .front {
    display: none;
} */
