.game-section {
    color: #66FCF1;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color: #0B0C10;
    padding: 20px;
}

.game_board {
    background-color: #262626;
    box-shadow: 0px 0px 5px #66FCF1;
    border-radius: 15px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cards-back {
    justify-items: center;
    border: solid 4px #66FCF1;
    border-radius: 15px;
    margin: 20px;
    width: 200px;
    height: 200px;
}

.hidden{
    visibility: hidden;
}

/* .front, .back{
    margin-top: 10px;
    margin-left: 40%;
    height: 150px;
    width: 150px;
    border-radius: 8px;
    border: solid 5px #66FCF1;
    position: absolute;
}

.front {
    transform: rotateY(180deg);
}

.back {
    backface-visibility: hidden;
}

.card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
  }
  
   .card:active {
     transform: scale(0.97);
     transition: transform .10s;
   }
  
   .card, .flip {
    transform: rotateY(180deg);
  } */

