.App {
  text-align: center;
  font-family: 'Russo One', sans-serif;
}

.social_wrapper {
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  z-index: 50;
  width: 100%;
  margin: 0px auto;
}

.hello {
  padding-top: 75px;
}

.main_image {
  margin-top: 100px;
  height: 250px;
  width: 250px;
  border: solid 4px black;
  border-radius: 100px;
}

.background_image_div {
  height: 500px;
  background-image: url("dungeon_crawler.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.icon_image {
  height: 75px;
  widows: 75px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

