.App {
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2em;
}

.social_wrapper {
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.background_div {
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: #262626;
}

.hello {
  padding-top: 75px;
}

.title {
    text-align: center;
    padding-bottom: 8%;
}

.author_name {
  font-size: 2.0em;
  text-shadow: 0px 0px 5px #66FCF1, 0px 0px 10px rgb(245, 246, 248),
    0px 0px 20px rgb(245, 246, 248), 0px 0px 30px #66FCF1,
    0px 0px 60px rgb(0, 3, 3);
  animation-name: glow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

/* @keyframes glow {
  50% {
    text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 10px rgb(255, 255, 255),
      0px 0px 20px rgb(255, 255, 255), 0px 0px 40px rgb(255, 255, 255),
      0px 0px 80px rgb(255, 255, 255);
    color: white;
  }

  100% {
    text-shadow: 0px 0px 5px #262626, 0px 0px 10px #66FCF1,
      0px 0px 20px #66FCF1, 0px 0px 30px #66FCF1,
      0px 0px 60px rgb(255, 255, 255);
  }
} */

.view_more {
  align-items: center;
}


.icon_image {
      height: 75px;
      widows: 75px;
}

button:hover {
    background: #66FCF1;
    border: solid 4px  #0B0C10;
    color:  #0B0C10;
}

/* Code by Ana Tudor codepen link =>  https://codepen.io/thebabydino/pen/gFxzt*/

.background_div {
    height: 100%;
    background: linear-gradient(90deg, 
    #0B0C10 25%,  #262626, #66FCF1 75%);
}
.rhex {
    position: relative;
    /* left: 0px;
    top: 0px; */
    /* z-index: -1; */
    margin: 1em auto;
    width: 10em; height: 17.32em;
    border-radius: 1em/ .5em;
    opacity: .25;
    background: #66FCF1;
    transition: opacity .5s;
}
.rhex:before, .rhex:after {
    position: absolute;
    width: inherit; height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
}
.rhex:before {
    transform: rotate(60deg);
}
.rhex:after {
    transform: rotate(-60deg);
}
.rhex:hover {
    opacity: 1;
}

/* Frankie Law codepen => https://codepen.io/Cowwy/pen/BaaOKLv */

:root {
  /* COLOR PALLET */
    --black     : rgba(0,     0,   0, 1.0);
    --white     : rgba(255, 255, 255, 1.0); /* #FFFFFF */
    --smoke     : rgba(204, 204, 204, 1.0); /* #CCCCCC */
    --lightRose : rgba(255, 204, 204, 1.0); /* #FFCCCC */
    --mintGreen : rgba(204, 255, 204, 1.0); /* #CCFFCC */
    --lavender  : rgba(204, 204, 255, 1.0); /* #CCCCFF */
    --banana    : rgba(255, 255, 204, 1.0); /* #FFFFCC */
    --pink      : rgba(255, 204, 255, 1.0); /* #FFCCFF */
    --cyan      : rgba(204, 255, 255, 1.0); /* #CCFFFF */
    --menthol   : rgba(0,   216, 135, 1.0);
    --yellow    : rgba(255, 255,   0, 1.0);
    --tint      : rgba( 40,  40,  40, 0.85);
    --cyanHot   : #8afbff;

  /* ADJUSTMENT VARIABLE */
    --animation-slowGlow-color : var(--mintGreen);
}

.glowing {
    animation-name:slowGlow;
    animation-duration:7.0s;
    animation-iteration-count: infinite;
}

@keyframes slowGlow {
    0% { 
      text-shadow: 0px 0px 0px var(--animation-slowGlow-color),
                    0px 0px 0px var(--animation-slowGlow-color), 
                    0px 0px 0px var(--animation-slowGlow-color), 
                    0px 0px 0px var(--animation-slowGlow-color), 
                    0px 0px 0px var(--animation-slowGlow-color), 
                    0px 0px 0px var(--animation-slowGlow-color);
   }

   50% { 
      text-shadow: 0px 0px 30px var(--animation-slowGlow-color),
                    0px 0px 30px var(--animation-slowGlow-color), 
                    0px 0px 20px var(--animation-slowGlow-color), 
                    0px 0px 10px var(--animation-slowGlow-color), 
                    0px 0px 5px  var(--animation-slowGlow-color), 
                    0px 0px 5px  var(--animation-slowGlow-color);
   }

   100% { 
      text-shadow: 0px 0px 0px var(--animation-slowGlow-color),
                    0px 0px 0px var(--animation-slowGlow-color), 
                    0px 0px 0px var(--animation-slowGlow-color), 
                    0px 0px 0px var(--animation-slowGlow-color), 
                    0px 0px 0px var(--animation-slowGlow-color), 
                    0px 0px 0px var(--animation-slowGlow-color);
   }
}


body {
    background-color: #262626;
}

@media (prefers-reduced-motion: no-preference) {
  .rhex {
    animation: rhex infinite 20s linear;
  }
}

@keyframes rhex {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

