.App {
    /* text-align: center; */
    font-family: 'Russo One', sans-serif;
}

.social_wrapper {
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.hello {
  padding-top: 75px;
}

.main_image {
    margin-top: 100px;
    height: 250px;
    width: 250px;
    border: solid 4px black;
    border-radius: 100px;
}
.title_div {
  text-align: center;
}

.title_div:hover {
  font-size: 1.5em;
  color:  #66FCF1;
}

.icon_image {
    height: 75px;
    widows: 75px;
}

button:hover {
    background: #66FCF1;
    border: solid 4px  #0B0C10;
    color:  #0B0C10;
}

/* Code by Ana Tudor codepen link =>  https://codepen.io/thebabydino/pen/gFxzt*/

body {
  background: linear-gradient(90deg, 
  #0B0C10 25%,  #0B0C10, #66FCF1 75%);
}
.rhex {
  position: relative;
  margin: 1em auto;
  width: 10em; height: 17.32em;
  border-radius: 1em/ .5em;
  opacity: .25;
  background: #66FCF1;
  transition: opacity .5s;
  /* cursor: pointer; */
}
.rhex:before, .rhex:after {
  position: absolute;
  width: inherit; height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}
.rhex:before {
  transform: rotate(60deg);
}
.rhex:after {
  transform: rotate(-60deg);
}
.rhex:hover {
  opacity: 1;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

