.project_img {
    height: 300px;
    width: 450px;
    margin: 10px;
    border: solid black 4px;
    border-radius: 20px;
}

.project_container {
    background-color: #383838;
    justify-content: center;
}

.project_div {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #bbb;
    margin-bottom: 50px;
    padding: 20px;
    width: 90%;
}